@charset "UTF-8";
:root {
  --background-color: #ffffff;
  --h2-h3-text-color: #212121;
  --text-color: #757575;
  --two-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --footer-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --btn-color: #f5f4fa;
  --section-color: #f5f4fa;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1;
  height: 1;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  font-weight: 700;
  color: var(--h2-h3-text-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 609px;
  border-radius: 4px;
  padding: 40px;
  background-color: var(--background-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
}

/* ФОРМА */
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  margin-bottom: 12px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  margin-bottom: 10px;
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  margin-bottom: 20px;
}

.form__text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text:focus {
  border-color: var(--accent-color);
}

.form__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form__text::placeholder {
    font-size: 14px;
    line-height: calc(14 / 12);
  }
}

.form__check-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .form__check-label {
    font-size: 14px;
    line-height: calc(14 / 24);
  }
}

.form__check-field {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.form__start-icon {
  margin-right: 7px;
}

.form__check-input:checked + .form__start-icon {
  display: none;
}

.form__finish-icon {
  margin-right: 7px;
  display: none;
}

.form__check-input:checked ~ .form__finish-icon {
  display: block;
}

.form__link {
  color: var(--accent-color);
  margin-left: 5px;
}

.form__btn {
  cursor: pointer;
  padding: 10px 56px;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--two-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover, .form__btn:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo__dark {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo__dark {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: calc(31 / 26);
    margin-right: 93px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--h2-h3-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    justify-content: space-between;
  }
}

.info__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__link:hover, .info__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .info__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info__item + .info__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .info__item + .info__item {
    margin-left: 30px;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.info__icon {
  margin-right: 10px;
  fill: currentColor;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .footer__content {
    display: block;
    text-align: center;
  }
}

.footer {
  background-color: var(--footer-color);
}

.logo__footer {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo__footer {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo__white {
  color: var(--two-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo__white {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--two-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: var(--accent-color);
}

.address__link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link-footer:focus, .address__link-footer:hover {
  color: var(--accent-color);
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--two-text-color);
  margin-bottom: 20px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    align-items: baseline;
  }
}

.footer__first {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__first {
    width: 231px;
    margin-bottom: 0;
  }
}

/* ФОРМА В ФУТЕРЕ */
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__form {
    display: flex;
    align-items: center;
  }
}

.footer-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--two-text-color);
  margin-bottom: 20px;
}

.footer-form__input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--two-text-color);
}

.footer-form__input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--two-text-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
  }
}

.footer-form__icon {
  fill: var(--two-text-color);
  margin-left: 10px;
}

.mobile__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--h2-h3-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-color);
}

.mobile__link--current {
  color: var(--accent-color);
}

.contacts__link {
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts__link--tel {
  align-items: center;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contacts__item + .contacts__item {
  margin-top: 32px;
}

.contacts__item + .contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--background-color);
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-hidden {
  transform: translateX(100%);
}

.menu__close {
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
}

.menu__open {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: auto;
  min-width: 40px;
  min-height: 40px;
}

@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.menu__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__close:hover .menu__icon,
.menu__close:focus .menu__icon {
  fill: var(--accent-color);
}

.menu__open:hover .menu__icon,
.menu__open:focus .menu__icon {
  fill: var(--accent-color);
}

.menu-social {
  display: flex;
}

.menu-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(22 / 18);
  color: var(--accent-color);
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-social__item + .menu-social__item {
  margin-left: 10px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-imgs/hero/hero-mobile@x1.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-imgs/hero/hero-mobile@x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-imgs/hero/hero-tablet@x1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-imgs/hero/hero-tablet@x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-imgs/hero/hero-desktop-@x1.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-imgs/hero/hero-desktop-@x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  color: var(--two-text-color);
  font-size: 26px;
  line-height: calc(42 / 26);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__button {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--two-text-color);
  background-color: var(--accent-color);
  display: block;
  margin: auto;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features__div {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--works {
  display: block;
}

@media screen and (max-width: 1200px) {
  .section--works {
    display: none;
  }
}

.works {
  display: flex;
}

.works__item + .works__item {
  margin-left: 30px;
}

.works__item {
  position: relative;
}

.works__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--two-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section--team-background {
  background-color: var(--section-color);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team__div {
  padding: 30px 0;
  text-align: center;
  background-color: var(--background-color);
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.social__icon {
  fill: currentColor;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.company {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.company__item {
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .company__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .company__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.company__link {
  width: 100%;
  height: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  background-color: var(--background-color);
  border-radius: 4px;
  border-color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__link:hover, .company__link:focus {
  background-color: var(--background-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.company__icon {
  fill: currentColor;
}

.filter__btn {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  background-color: var(--btn-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--two-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-h3-text-color);
  margin-bottom: 4px;
}

.projects__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.projects__div {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: var(--background-color);
}

.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__wrap-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--two-text-color);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__wrap-text,
.projects__link:focus .projects__wrap-text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */