@import './utils/variables';
@import './utils/hidden';

@import './base/reset';
@import './base/common';

@import './components/container';
@import './components/title-section';
@import './components/section';
@import './components/modal';
@import './components/header';
@import './components/footer';
@import './components/mobile-menu';

@import './layout/webstudio/hero';
@import './layout/webstudio/features';
@import './layout/webstudio/works';
@import './layout/webstudio/team';
@import './layout/webstudio/company';

@import './layout/portfolio/filter';
@import './layout/portfolio/cards';
