.header {
  border-bottom: 1px solid #ececec;
}

.logo__dark {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--h2-h3-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}

.nav__list {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.info__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.info {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.info__item + .info__item {
  margin-left: 30px;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.info__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu {
}
