.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  min-height: 609px;
  border-radius: 4px;
  padding: 40px;

  background-color: var(--background-color);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__btn:hover &,
  .modal__btn:focus & {
    fill: var(--accent-color);
  }
}

.modal__btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
}

/* ФОРМА */

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  margin-bottom: 12px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.form__wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  margin-bottom: 10px;
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  margin-bottom: 20px;
}

.form__text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.form__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(14 / 12);
  }
}

.form__check-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(14 / 24);
  }
}

.form__check-field {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.form__start-icon {
  margin-right: 7px;
}

.form__check-input:checked + .form__start-icon {
  display: none;
}

.form__finish-icon {
  margin-right: 7px;
  display: none;
}

.form__check-input:checked ~ .form__finish-icon {
  display: block;
}

.form__link {
  color: var(--accent-color);
  margin-left: 5px;
}

.form__btn {
  cursor: pointer;
  padding: 10px 56px;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--two-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
