:root {
  --background-color: #ffffff;
  --h2-h3-text-color: #212121;
  --text-color: #757575;
  --two-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --footer-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --btn-color: #f5f4fa;
  --section-color: #f5f4fa;
  --icon-color: #afb1b8;
}
